/* This file includes CSS definitions */

/**********************************************************************/
/* Basic Grid                                                         */
/**********************************************************************/

BODY {
	font: medium sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #FFFFE0;
}

BODY.fatal-error, DIV.fatal-error {
	margin: 20pt;
}

H1.fatal-error {
	font: large sans-serif bold;
}

.grid-screen-dynamic {
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
 	overflow: hidden;
    }

.grid-screen-fixed {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
    }

.grid-screen-1200 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1200px;
	height: 800px;
 	overflow: hidden;
    }

.grid-screen-960 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 960px;
	height: 570px;
 	overflow: hidden;
	font-size: 12px;    /* force small fonts */
    }

.grid-screen-960 INPUT {
	font-size: 12px;    /* force small fonts */
    }

.grid-screen-960 TD {
	font-size: 12px;    /* Think of classic tables! */
    }

.grid-nav-col-dynamic, .grid-nav-col-1200, .grid-nav-col-960 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 100%;
	overflow: hidden;
	/* background-image: url(menubg.png); */
    }

.grid-nav-col-fixed {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 100%;
	overflow: hidden;
	/* background-image: url(menubg.png); */
	z-index: 3;
    }

#basic-grid-inner-nav-col {
	/* Help MSIE-5.x browsers which implement the box model wrong
         * (width includes padding)
         */
	padding: 10px;
}

#basic-grid-sep1 {
	position: absolute;
	top: 0px;
	left: 200px;
	width: 1px;
	height: 100%;
	overflow: hidden;
	background-color: #ffa500;
}

#basic-grid-sep2 {
	position: absolute;
	top: 0px;
	left: 201px;
	width: 8px;
	height: 100%;
	overflow: hidden;
	background-color: #ffb570;
}

#basic-grid-sep3 {
	position: absolute;
	top: 0px;
	left: 209px;
	width: 1px;
	height: 100%;
	overflow: hidden;
	background-color: #ffa500;
}

.grid-screen-fixed #basic-grid-sep1 {
	position: fixed;
	z-index: 3;
}

.grid-screen-fixed #basic-grid-sep2 {
	position: fixed;
	z-index: 3;
}

.grid-screen-fixed #basic-grid-sep3 {
	position: fixed;
	z-index: 3;
}

.grid-main-col-dynamic {
	position: absolute;
	left: 210px;
	top: 70px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
	-moz-user-focus: normal;   /* Moz 1.0.1: does not work */
	-moz-user-input: enabled;  /* Bugs: #138069 #147425 ??? */
}

.grid-main-col-fixed {
	position: absolute;
	/* margin-left: 210px; -- moved to inner-main-col */
	/* margin-top: 70px;   -- moved to inner-main-col */
	left: 0px;
	top: 0px;
	width: 100%;
	/* right: 0px; */
	z-index: 1;
}

.grid-main-col-1200 {
	position: absolute;
	left: 210px;
	top: 70px;
	width: 990px;	     /* = 1200 - 210 */
	height: 730px;	     /* = 800 - 70 */
	overflow: scroll;
}

.grid-main-col-960 {
	position: absolute;
	left: 210px;
	top: 50px;
	width: 750px;	     /* = 960 - 210 */
	height: 520px;	     /* = 570 - 50 */
	overflow: scroll;
}

.grid-inner-main-col {
	/* Help MSIE-5.x browsers which implement the box model wrong
         * (width includes padding)
         */
	padding: 30px;
}

.grid-main-col-fixed .grid-inner-main-col {
	margin-left: 210px;
	margin-top: 70px;
}

.grid-head-dynamic {
	position: absolute;
	left: 210px;
	top: 0px;
	right: 0px;
	height: 70px;
	overflow: hidden;
	color: white;
	background-color: #ff8c00;
	font-size: x-large;
	vertical-align: bottom;
    }

.grid-head-fixed {
	position: fixed;
	/* left: 210px; see grid-inner-head */
	top: 0px;
	left: 0px;
	width: 100%;
	height: 70px;
	color: white;
	background-color: #ff8c00;
	font-size: x-large;
	vertical-align: bottom;
	z-index: 2;
    }


.grid-head-1200 {
	position: absolute;
	left: 210px;
	top: 0px;
	width: 990px;	     /* = 1200 - 210 */
	height: 70px;
	overflow: hidden;
	color: white;
	background-color: #ff8c00;
	font-size: x-large;
	vertical-align: bottom;
    }

.grid-head-960 {
	position: absolute;
	left: 210px;
	top: 0px;
	width: 750px;	     /* = 960 - 210 */
	height: 50px;
	overflow: hidden;
	color: white;
	background-color: #ff8c00;
	font-size: 16px;
	vertical-align: bottom;
    }

.grid-inner-head {
	/* Help MSIE-5.x browsers which implement the box model wrong
         * (width includes padding)
         */
	padding: 10px;
	padding-left: 30px;
    }

.grid-head-fixed .grid-inner-head {
	margin-left: 210px;
    }

@media print {
	BODY {
		background-color: transparent;
	}

	.grid-screen-fixed,
	.grid-screen-dynamic,
	.grid-screen-960,
	.grid-screen-1200 {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		bottom: auto;
		font-size: medium;
		overflow: visible;
    	}


	.grid-nav-col-fixed,
	.grid-nav-col-dynamic,
	.grid-nav-col-1200,
	.grid-nav-col-960 {
		display: none;
	}

	#basic-grid-sep1,
	#basic-grid-sep2,
	#basic-grid-sep3 {
		display: none;
	}

	.grid-main-col-fixed,
	.grid-main-col-dynamic,
	.grid-main-col-1200,
	.grid-main-col-960 {
		position: absolute;
		left: 0px;
		top: 30pt;
		width: 100%;
		overflow: visible;
	}

	.grid-inner-main-col {
		margin-left: 0px ! important;
		margin-right: 0px ! important;
	}

	.grid-head-fixed,
	.grid-head-dynamic,
	.grid-head-1200,
	.grid-head-960 {
		position: absolute;
		left: 0px;
		top: 0px;
		height: 30pt;
		width: 100%;
		overflow: visible;
		color: black;
		font: bold x-large sans-serif;
		background-color: transparent;
	}

	.grid-inner-head {
		margin-left: 0px ! important;
		margin-right: 0px ! important;
	}
}

/**********************************************************************/
/* Popup Grid                                                         */
/**********************************************************************/

#popup-grid-screen {
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
    }

#popup-grid-main-col {
	position: absolute;
	left: 0px;
	/* width: auto; */
	top: 50px;
	width: 100%;
	overflow: auto;
    }

.popup-grid-inner-main-col {
	/* Help MSIE-5.x browsers which implement the box model wrong
         * (width includes padding)
         */
	padding: 5px;
    }

#popup-grid-headline {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 30px;
	color: white;
	background-color: #ff8c00;
	vertical-align: bottom;
    }

.popup-grid-inner-headline {
	/* Help MSIE-5.x browsers which implement the box model wrong
         * (width includes padding)
         */
	padding: 5px;
    }

/**********************************************************************/
/* Buttons                                                            */
/**********************************************************************/

/* BUTTON elements appear like hyperlinks: */

BUTTON {
	color: black;
	background-color: transparent;
	border: 0px none ! important;
	padding: 0px ! important;
	margin: 0px 0px 0px 0px ! important;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 100%;
	font-family: sans-serif;
	line-height: normal;
	display: block;
	cursor: pointer;
	width: 100%;
	white-space: normal;
}

BUTTON:hover {
	border: 0px none;
	padding: 0px;
	background-color: #ffd700;
}

BUTTON:active:hover {
	border: 0px none;
	padding: 0px;
	background-color: #ffd700;
}

BUTTON[disabled], BUTTON[disabled]:active,  BUTTON[disabled]:hover,
BUTTON[disabled]:active:hover {
	color: GrayText;
	background-color: transparent;
	cursor: default;
}

BUTTON DIV {
	text-align: left;
}

.accesskey {
	visibility: hidden;
	float: right;
	font-size: xx-small;
	vertical-align: baseline;
}

BUTTON:hover .accesskey {
	visibility: visible;
}

.applink INPUT {
	cursor: pointer;
	border-color: #ffb570;
	background-color: #ffb570;
	width: 100%;
}

.buttonbox {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}


/**********************************************************************/
/* Head Info Box                                                      */
/**********************************************************************/

#head-info-box {
	position: absolute;
	right: 12px;
	top: 12px;
}

#head-info-box TABLE {
	border-collapse: collapse;
	border: none;
}

#head-info-box TD {
	border: 2px dotted white;
	padding: 4px;
	font-size: xx-small;
}

.grid-head-fixed #head-info-box {
	position: absolute;
	left: 0px;
	width: 98%;
}

.grid-head-fixed TABLE {
	float: right;
}


/* modified flag: */

.head-mod-yes {
        visibility: visible;
    }

.head-mod-no {
        visibility: hidden;
    }


/**********************************************************************/
/* applink                                                            */
/**********************************************************************/

.applink-em-yes {
        color: #FFFFE0;
	width: 20px;
	vertical-align: baseline;
}

.applink-label-em-yes {
        color: #FFFFE0;
}

INPUT.applink-label-em-yes {
	background-color: #9e6524;
}

.applink-em-no {
	width: 20px;
	vertical-align: baseline;
}

.applink-label-em-no {
        color: black;
}

.applink-disabled {
	width: 20px;
	vertical-align: baseline;
	color: #453F33;
}

.applink-label-disabled {
	color: #453F33;
}

/**********************************************************************/
/* Free Layout for: startpage                                         */
/**********************************************************************/

/* Don't use positioned boxes here! They will not display in old
 * browsers, and this is bad for a start page.
 */

.app-title-pos {
	margin-left: 150px;
    }

.app-title-text {
	font: small-caps 36pt serif;
    }

.app-author-text {
	font: oblique 18pt serif;
    }

.app-login-text {
	font: normal 12pt sans-serif;
	padding: 5px;
	background-color: #cccccc;
    }

.app-error {
	color: red;
    }



/**********************************************************************/
/* Navigation column                                                  */
/**********************************************************************/

/* vertical gap between nav sections: */

.nav-section-body + .nav-section-head {
	margin-top: 1em;
    }

.nav-section-head {
	font-weight: bold;
    }

.nav-section-body {
	padding-left: 20px;
	padding-right: 5px;
	font-size: smaller;
	width: 160px;
    }


.nav-section-link {
	/* padding-left: 5px; */
    }

/**********************************************************************/
/* Main column                                                        */
/**********************************************************************/

/* messages */

.message-box {
	position: relative;
	margin: 20px 0px;
	border: 5px blue solid;
	-moz-border-radius: 5px;
	border-radius: 5px;      /* CSS 3 */
	padding: 10px;
	padding-right: 6em;
	color: blue;
    }

.message-head-box {
	position: absolute;
	top: 0px;
	right: 0px;
    }

.message-head {
	border: 4px blue solid;
	border-right: none;
	border-top: none;
	-moz-border-radius-bottomleft: 4px;
	border-radius-bottomleft: 4px;	    /* CSS 3 */
	color: white;
	background-color: blue;
    }

/* Don't display the head box for simpler grids */

.grid-main-col-960 .message-head-box {
	display: none;
    }

.grid-main-col-1200 .message-head-box {
	display: none;
    }

.grid-main-col-fixed .message-head-box {
	display: none;
    }

/* Don't display messages at all for print */

@media print {
	.message-box {
		display: none;
	}
}


/**********************************************************************/
/* Editor/Timesheet                                                   */
/**********************************************************************/

.timesheet-block {
	background-color: #CDBA96;
	padding: 3px;
	border: 4px groove #8B7E66;
	margin-bottom: 20px;
	white-space: nowrap;
    }

.timesheet-block-head {
    }

.timesheet-block-bg0 {
	background-color: #e0d3bc;
    }

.timesheet-block-bg1 {
	background-color: #CDBA96;
    }

.timesheet-thead {
	background-color: #e0d3bc;
	font-variant: small-caps;
	font-weight: normal;
	font-size: small;
    }

.timesheet-input {
	font-family: monospace;
	font-size: small;
	padding: 2px;
	background-color: white;
    }

INPUT[type=button].timesheet-popup {
	width: auto;
    }

/* Note: the attribute wtimer-selected is set dynamically by javascript */
TR[wtimer-selected=yes] {
	background-color: blue;
    }

.timesheet-append {
	font-style: oblique;
	font-size: x-small;
    }

.timesheet-error {
	padding: 0px;
	border: 5px red solid;
	-moz-border-radius: 5px;
	border-radius: 5px;      /* CSS 3 */
	background-color: transparent;
    }

/* Popup windows: */

.projects-select {
	width: 80%;
}

.projects-button {
	width: 40%;
}

/**********************************************************************/
/* TimeTravel                                                         */
/**********************************************************************/

.cal-head {
	margin-bottom: 20px;
	text-align: center;
	font-size: larger;
}

.cal-head INPUT {
	font-size: larger;
}


.cal-head-pm {
        width: 2em;
}

.cal-body {
	text-align: center;
}

TABLE.cal {
	border-collapse: collapse;
	margin-left: auto;    /* center the table */
	margin-right: auto;   /* center the table */
}

TD.cal {
	border: medium solid black;
	vertical-align: top;
	padding: 0px;
}

TD.cal-month {
	font-size: xx-small;
}

TH.cal-month {
	font-size: xx-small;
	color: #cccccc;
}

/**********************************************************************/
/* Administration                                                     */
/**********************************************************************/

TABLE.accounts {
	background-color: #CDBA96;
	padding: 3px;
	border-collapse: collapse;
	margin-left: auto;    /* center the table */
	margin-right: auto;   /* center the table */
}

TD.accounts {
	border: 4px ridge #8B7E66;
	padding: 3px;
	text-align: center;
}

TH.accounts {
	border: 4px ridge #8B7E66;
	border-bottom: 2px solid black;
	color: #FFFFE0;
	padding: 3px;
	text-align: center;
	background-color: #8B7E66;
	font-weight: normal;
	font-variant: small-caps;
	font-size: small;
}


TABLE.acl {
	background-color: #CDBA96;
	padding: 3px;
	border-collapse: collapse;
	margin-left: auto;    /* center the table */
	margin-right: auto;   /* center the table */
	text-align: center;
}

TD.acl-r, TD.acl-r-users, TD.acl-w, TD.acl-w-users {
	border: 4px ridge #8B7E66;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 3px;
	vertical-align: baseline;
}

TD.acl-r-users, TD.acl-w-users {
	text-align: left;
}

TD.acl-o, TD.acl-o-users {
	border: 4px ridge #8B7E66;
	border-top: 1px solid black;
	padding: 3px;
	vertical-align: baseline;
}

TD.acl-o-users {
	text-align: left;
}

SELECT.acl-box {
	vertical-align: text-top;
}

TH.acl {
	border: 4px ridge #8B7E66;
	color: #FFFFE0;
	padding: 3px;
	text-align: center;
	background-color: #8B7E66;
	font-weight: normal;
	font-variant: small-caps;
	font-size: small;
}

/**********************************************************************/
/* Help                                                               */
/**********************************************************************/

.help {
	font-size: small;
	margin: 50px 0px 20px 0px;
	border: 5px #ffb570 solid;
	-moz-border-radius: 5px;
	border-radius: 5px;      /* CSS 3 */
	padding: 10px 3em;
	color: black;
}

.help DIV {
	margin: 1em 0em;
}

.help EM {
	font-style: normal;
	font-weight: bold;
}

/* Don't display help for print: */

@media print {
	.help {
		display: none;
	}
}
